.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*.class
*.jar
*~
build/
.build/
.eggs/
.idea/
.settings/
dist/
cur/
tmp/
venv/
__pycache__/
*.DS_Store
log/
*.e4p
*.log
*.coverage
*.egg-info
.project
.pydevproject

