.eric6project/
_eric6project/
.eric5project/
_eric5project/
.eric4project/
_eric4project/
.ropeproject/
_ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*.class
*.jar
*~
build/
dist/
cur/
tmp/
__pycache__/
*.DS_Store
thrift/
log/
*.e4p
*.log
*.coverage
*.egg-info

