.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*.class
*.jar
*~
build/
.build/
.eggs/
.idea/
.settings/
dist/
cur/
htmlcov/
log/
tmp/
venv/
__pycache__/
*.DS_Store
*.log
*.coverage
*.egg-info
.project
coverage.xml
nosetests.xml
