/* General Layout */
body {
	margin: auto;
}

#body_block {
	min-width: 1000px;
    min-height: 780px;
    height: 100vh;
    display: flex;
}

#left_side {
    display: flex;
	flex-direction: column;
}

nav {
	flex: 1;
}

header, nav, footer, section, aside {
	padding: 10px;
}

#right_side {
	flex: 1;
    display: flex;
	flex-direction: column;
}

#contents {
	flex: 1;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	overflow: auto;
}

#stats {
    display: flex;
	flex-direction: column;
}

#right_side footer {
    min-height: 40px;
}


/* Additional resources */
@font-face {
	font-family: 'kingthings_calligraphica_2Rg';
	src: url('Kingthings_Calligraphica_2-webfont.eot');
	src: url('Kingthings_Calligraphica_2-webfont.eot?#iefix') format('embedded-opentype'),
		url('Kingthings_Calligraphica_2-webfont.woff') format('woff'),
		url('Kingthings_Calligraphica_2-webfont.ttf') format('truetype'),
		url('Kingthings_Calligraphica_2-webfont.svg#kingthings_calligraphica_2Rg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Resource design */

/* fake a background transparency because smoke image is too dark */
body::after {
	content: "";
    background: url(../img/smoke.jpg);
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.5;
}

#left_side {
	background: url(../img/texture.jpg);
	color: #e6e6e6;
    border-right: 3px #cc7a00 solid;
}

#left_side header {
   text-align: center;
}

#left_side footer {
	font-style: italic;
}

#right_side footer {
	font-size: 0.9em;
}

#right_side header, #right_side footer {
	background: url(../img/texture.jpg);
	color: #e6e6e6;
}

header a, footer a {
    color: #cc7a00;
	text-decoration: none;
}

#copyright {
	font-size: .8em;
}

section {
	color: #111;
	font-family: Verdana, Arial, sans-serif;
	text-align: justify;
}

h1, h2, h3 {
	font-family: 'kingthings_calligraphica_2Rg', Verdana, sans-serif;
	text-shadow: 2px 2px 6px #202020;
}

h1, h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}


/*
 * Generic Style
 */
.hidden {
    display: none
}


/*
 * Figure style
 */
figure img {
	display: block;
    border: 1px solid black outset;
    border-radius: 6px;
    box-shadow: 4px 4px 6px black;
}

figcaption {
	margin-top: 5px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}


/*
 * Link style
 */
a.conciliationLink {
	background: url(../img/arrows-red_16.png) no-repeat right;
	background-color: orangered;
	color: #eee;
	text-decoration: none;
	text-shadow: 2px 2px 2px black;
	font-size: .8em;
	padding-left: 2px;
	padding-right: 18px;
    border: 1px red outset;
    border-radius: 0px 10px 10px 0px;
}


/*
 * Style for inline actions
 */
ul.linear {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.linear li {
    display: inline;
}

#control {
    float: right;
}


/*
 * Style for operational status
 */
.status_empty, .status_green, .status_yellow, .status_red {
	padding: 10px 100px 10px 2px;
}

.status_empty {
    background: url(../img/leds_empty_30.png) no-repeat right;
}

.status_green {
    background: url(../img/leds_green_30.png) no-repeat right;
}

.status_yellow{
    background: url(../img/leds_yellow_30.png) no-repeat right;
}

.status_red {
    background: url(../img/leds_red_30.png) no-repeat right;
}


/*
 * Style for status message
 */
.info, .warn, .erro {
    color: #eee;
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
}

.info {
	background-image: linear-gradient(165deg, dodgerblue, #1a1a1a);
    border: 1px blue inset;
}

.info::before {
	content: url(../img/info_20.png) '\00a0';
	float: left;
}

.warn {
	background-image: linear-gradient(165deg, #f90, #1a1a1a);
    border: 1px orange inset;
}

.warn::before {
	content: url(../img/warn_20.png) '\00a0';
	float: left;
}

.erro {
	background-image: linear-gradient(165deg, orangered, #1a1a1a);
    border: 1px red inset;
}

.erro::before {
	content: url(../img/erro_20.png) '\00a0';
	float: left;
}


/*
 * Strategy style
 */
.button.active {
    color: green;
    font-weight: bold;
}

/* decrease spacing between a paragraph and the following list */
p + ul.linear {
	margin: 0px 3px 5px 3px;
}

/* strategies are displayed within a box with an information icon before text */
.strategy {
	min-width: 330px;
	height: 52px;
	padding: 0 0 1px 0;
	margin: 20px 25px;
	background: rgba(150, 150, 150, .7);
	border: 3px ridge black;
}

.strategy p {
	background: url(../img/texture.jpg);
	padding: 2px 5px;
	margin: 0 0 5px 0;
	color: #ccc;
}

.strategy ul {
	text-align: center;
}


/*
 * Table style
 */
table {
	border-collapse: collapse;
	caption-side: bottom;
	background: rgba(200, 200, 200, .7);
	margin: 0 auto
}

/* add border for all cells */
th, td {
	border: 1px solid black;
    padding: 3px 5px;
	font-size: .8em;
}

/* style for a title in a table */
th {
	background-color: #555;
	color: #e6e6e6;
	text-align: left;
}

tr.shade {
	background-color: #CFC;
}

/* fix first columns sizes (button actions have a fixed contents) */
th.name {
  width: 200px;
}

th.state {
    width: 65px;
}

th.desc, th.addr {
  width: 300px;
}

th a {
	color: #e6e6e6;
	text-decoration: none;
}

/* style for a table of processes like Supervisor */
#address td:nth-child(2),#address td:nth-child(3), #address td:nth-child(n+5) {
	text-align: center;
}

#address td:nth-child(3) {
	font-style: italic;
}

#application td:nth-child(2), #application td:nth-child(n+4) {
	text-align: center;
}

/* style for an address box in main page */
.addressBox {
    max-width: 30%;
    margin: 20px auto;
}

.addressBox table {
	border: 3px ridge black;
}

.addressBox tr {
	background: rgba(100, 100, 100, .5);
}

.addressBox .button {
	display: inline-block;
	padding: 2px 4px;
    margin-bottom: 4px;
	background-color: orange;
	border-radius: 6px;
	cursor: default;
}


/* gradients for states in table */
th.UNKNOWN, td.UNKNOWN {
	background-image: linear-gradient(165deg, grey, white);
}

th.STOPPED, td.STOPPED, th.EXITED, td.EXITED, th.SILENT, td.SILENT {
    background-image: linear-gradient(165deg, white, #cc0, #cc0, white);
}

th.STARTING, td.STARTING, th.BACKOFF, td.BACKOFF {
	background-image: linear-gradient(165deg, #cc0, green, white);
}

th.STOPPING, td.STOPPING {
	background-image: linear-gradient(165deg, green, #cc0, white);
}

th.RUNNING, td.RUNNING {
	background-image: linear-gradient(165deg, white, green, green, white);
}

th.FATAL, td.FATAL, th.ISOLATED, td.ISOLATED {
	background-image: linear-gradient(165deg, white, red, red, white);
}

th.ISOLATING, td.ISOLATING {
	background-image: linear-gradient(165deg, #cc0, red, white);
}

/* gradients for states in navigation */
nav li.UNKNOWN {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, grey);
}

nav li.UNKNOWN.active {
	background-image: linear-gradient(165deg, grey, #1a1a1a 40%, #1a1a1a);
}

nav li.STOPPED, nav li.SILENT {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, #cc0);
}

nav li.STOPPED.active {
	background-image: linear-gradient(165deg, #cc0, #1a1a1a 40%, #1a1a1a);
}

nav li.RUNNING {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, green);
}

nav li.RUNNING.active {
	background-image: linear-gradient(165deg, green, #1a1a1a 40%, #1a1a1a);
}

nav li.ISOLATING {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, #cc0 80%, red);
}

nav li.ISOLATED {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, red);
}

nav li.STARTING {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, #cc0 80%, green);
}

nav li.STARTING.active {
	background-image: linear-gradient(165deg, green, #cc0 20%, #1a1a1a 40%, #1a1a1a);
}

nav li.STOPPING {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, green 80%, #cc0);
}

nav li.STOPPING.active {
	background-image: linear-gradient(165deg, #cc0, green 20%, #1a1a1a 40%, #1a1a1a);
}

