/* General Layout */
body {
	margin: auto;
}

#body_block {
	min-width: 1000px;
   min-height: 780px;
   height: 100vh;
   display: flex;
}

#left_side {
   display: flex;
	flex-direction: column;
}

nav {
	flex: 1;
}

header, nav, footer, section {
	padding: 10px;
}

#right_side {
	flex: 1;
   display: flex;
	flex-direction: column;
}

section {
	flex: 1;
	overflow: auto;
}


/* Additional resources */
@font-face {
	font-family: 'kingthings_calligraphica_2Rg';
	src: url('Kingthings_Calligraphica_2-webfont.eot');
	src: url('Kingthings_Calligraphica_2-webfont.eot?#iefix') format('embedded-opentype'),
		url('Kingthings_Calligraphica_2-webfont.woff') format('woff'),
		url('Kingthings_Calligraphica_2-webfont.ttf') format('truetype'),
		url('Kingthings_Calligraphica_2-webfont.svg#kingthings_calligraphica_2Rg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Resource design */

/* fake a background transparency because smoke image is too dark */
body::after {
	content: "";
   background: url(../img/smoke.jpg);
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.5;
}

#left_side {
	background: url(../img/texture.jpg);
	color: #e6e6e6;
}

#left_side header {
   text-align: center;
}

header a, footer a {
   color: #cc7a00;
	text-decoration: none;
}

footer {
	font-style: italic;
}

#copyright {
	font-size: .8em;
}

section {
	color: #111;
	font-family: Verdana, Arial, sans-serif;
	text-align: justify;
}

h1, h2, h3 {
	font-family: 'kingthings_calligraphica_2Rg', Verdana, sans-serif;
	text-shadow: 2px 2px 6px #202020;
}

h1, h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

/*
 * Style for header actions
 */
ul.linear {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.linear li {
    display: inline;
}

ul.vertical {
    margin: 0;
    padding: 0;
    list-style: none;
}

#control {
    float: right;
}


/*
 * Style for status message
 */
.hidden {
    display: none
}

.info, .warn, .error {
	color: #eee;
	padding: 5px;
    width: 80%;
    border-radius: 10px;
}

.info {
	background-image: linear-gradient(165deg, dodgerblue, #1a1a1a);
    border: 1px blue inset;
}

.info::before {
	content: url(../img/info_16.png) '\00a0';
	float: left;
}

.warn {
	background-image: linear-gradient(165deg, orange, #1a1a1a);
   border: 1px orange inset;
}

.warn::before {
	content: url(../img/warn_16.png) '\00a0';
	float: left;
}

.error {
	background-image: linear-gradient(165deg, red, #1a1a1a);
   border: 1px red inset;
}

.error::before {
	content: url(../img/error_16.png) '\00a0';
	float: left;
}


/*
 * Table style
 */
table {
	border-collapse: collapse;
	caption-side: bottom;
	background: rgba(200, 200, 200, .7);
	margin: 0 auto
}

/* add border for all cells */
th, td {
	border: 1px solid black;
    padding: 3px 5px;
	font-size: .8em;
}

/* style for a title in a table */
th {
	background-color: #555;
	color: #e6e6e6;
	text-align: left;
}

tr.shade {
	background-color: #CFC;
}

/* fix first columns sizes (button actions have a fixed contents) */
th.name {
  width: 200px;
}

th.state {
    width: 40px;
}

th.desc, th.addr {
  width: 200px;
}

/* style for a table of processes like Supervisor */
#address td:nth-child(2), #address td:nth-child(n+4) {
	text-align: center;
}

/* gradient for process states in table */
td.UNKNOWN {
	background-image: linear-gradient(165deg, grey, #1a1a1a);
    color: #ccc,
}

td.STOPPED, td.EXITED {
    background-image: linear-gradient(165deg, yellow, #1a1a1a);
    color: #ccc,
}

td.STARTING {
	background-image: linear-gradient(165deg, #cc0, green, #1a1a1a);
    color: #ccc,
}

td.STOPPING {
	background-image: linear-gradient(165deg, green, #cc0, #1a1a1a);
    color: #ccc,
}

td.RUNNING {
	background-image: linear-gradient(165deg, green, #1a1a1a);
    color: #ccc,
}

td.FATAL {
	background-image: linear-gradient(165deg, red, #1a1a1a);
    color: #ccc,
}

/* gradient for remote states */
nav li.UNKNOWN {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, grey);
}

nav li.SILENT {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, #cc0);
}

nav li.RUNNING {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, green);
}

nav li.ISOLATING, nav li.ISOLATED {
	background-image: linear-gradient(165deg, #1a1a1a, #1a1a1a 60%, red);
}

