#buttons {
  margin: 13px 0;
}
#buttons li {
  float: left;
  display: block;
  margin: 0 7px 0 0;
}
#buttons a {
  float: left;
  display: block;
  padding: 1px 0 0 0;
}
#buttons a, #buttons a:link {
  text-decoration: none;
}

#refresh a {
  width: 62px;
  background: url("../images/button_refresh.gif") 0 0 no-repeat;
}
#refresh a:hover {
  background-position: -62px;
}
#restart_all a {
  width: 84px;
  background: url("../images/button_restart.gif") 0 0 no-repeat;
}
#restart_all a:hover {
  background-position: -84px;
}
#stop_all a {
  width: 65px;
  background: url("../images/button_stop.gif") 0 0 no-repeat;
}
#stop_all a:hover {
  background-position: -65px;
}


