/*
 * Button styles
 */
.button {
    display: inline-block;
    padding: 2px 4px;
    margin-bottom: 2px;
    background-image: linear-gradient(225deg, var(--vlight2-color) 40%, var(--vlight1-color));
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px #666;
    color: var(--text-color);
    font-size: .8em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.button.on:hover {
    background-image: linear-gradient(225deg, var(--light1-color), var(--light2-color) 60%);
}

.button.active {
    color: var(--selected-color);
    background-image: linear-gradient(225deg, var(--dark1-color) 40%, var(--dark2-color));
    box-shadow: 0 2px #777;
    transform: translateY(1px);
    font-weight: bold;
}

.off {
    cursor: not-allowed;
}

