/*
 * Supvisors Host page style
 */

#instance_contents {
    display: flex;
    flex: 1;
    overflow: auto;
}

#rsc_grid {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

#mem_fig {
    grid-column: 1;
    grid-row: 2;
}

#mem_stats {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
}

#cpu_fig {
    grid-column: 1;
    grid-row: 1;
}

#cpu_stats {
    overflow-y: auto;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
}

#cpu_stats div {
    display: flex;
    flex: 1;
    overflow-y: auto;
}

#io_fig {
    grid-column: 3;
    grid-row: 1;
}

#io_stats {
    overflow-y: auto;
    flex-direction: column;
    grid-column: 3;
    grid-row: 2;
}

#io_stats div {
    display: flex;
    flex: 1;
    overflow-y: auto;
    margin: auto;
}

