/*
 * Supvisors Main page
 */

/* Header part */
#state_modes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#state_modes div {
    display: flex;
    flex-direction: row;
    margin: auto 5px;
    align-items: center;
}

code.hstate {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 6px;
    text-shadow: 3px 3px 4px black;
    background: var(--vlight1-color);
}

/* Contents part */
#index_contents {
    display: flex;
    flex: 1;
    overflow: auto;
    margin-top: 10px;
}

#conflict_part {
    flex: 1;
}

#box_part {
    display: flex;
    flex: 1;
    height: 90px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.instanceBox {
    display: contents;
}

.instanceBox>* {
    margin: 10px;
}

.instanceBox table {
    height: 100%;
    border: 3px ridge var(--border-color);
}

.instanceBox th {
    height: 18px;
    background-image: linear-gradient(180deg, var(--dark2-color), var(--dark1-color));
}

.instanceBox td:nth-child(1) {
    vertical-align: top;
}

.instanceBox td.process_list {
    max-width: 250px;
}

.instanceBox tbody .button {
    padding: 2px 4px;
    margin-bottom: 4px;
    background-color: #007600;
    border-radius: 6px;
    cursor: default;
}

.instanceBox thead .button {
    font-size: 1.4em;
}

/* fix state columns width */
.state_column {
    width: 50px;
}

