/*
 * Supvisors Instance pages style
 */

/* Header part */
#instance_status table.status img {
    width: 25px;
    position: relative;
    top: 3px;
}

#instance_status th span.master {
    font-size: 1.6em;
    position: relative;
    bottom: 0.1em;
}

.hmode {
    font-size: 1.2em;
}

