/* Supvisors Main page */
#index_contents {
    display: flex;
    flex: 1;
    overflow: auto;
    margin-top: 10px;
}

#conflict_part {
    flex: 1;
}

#box_part {
    display: flex;
    flex: 1;
    height: 90px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.instanceBox {
    display: contents;
}

.instanceBox>* {
    margin: 10px;
}

.instanceBox table {
    height: 100%;
    border: 3px ridge var(--border-color);
}

.instanceBox th {
    height: 18px;
    background-image: linear-gradient(180deg, var(--dark2-color), var(--dark1-color));
}

.instanceBox td:nth-child(1) {
    vertical-align: top;
}

.instanceBox td.process_list {
    max-width: 250px;
}

.instanceBox tbody .button {
    padding: 2px 4px;
    margin-bottom: 4px;
    background-color: #007600;
    border-radius: 6px;
    cursor: default;
}

.instanceBox thead .button {
    font-size: 1.4em;
}
