/*
 * Nav style
 */
nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 5px;
    color: var(--text-color);
}

nav ul {
	margin: 0;
	padding-left: 0;
	padding-right: 2px;
	list-style: none;
    font-size: .8em;
}

nav li {
    background-color: var(--navbg-color);
    height: 30px;
    margin-bottom: 2px;
    border: 1px #111 solid;
    border-radius: 6px 50% 50% 6px;
}

nav li a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 7px 0 5px 4px;
}

nav li:before {
    content: url(../img/arrow-orange_12.png) '\00a0';
    float: left;
    position: relative;
    top: 8px;
    left: 1px;
    opacity: 0;  
    transition: 0.5s;
}

nav li:hover {
    padding-left:8px;
}

nav li:hover:before {
    opacity: 1;
    right: 10px;
}

nav li:active {
    background-color: var(--dark2-color);
}

nav .UNKNOWN, nav .ISOLATED {
    background-image: radial-gradient(ellipse 75% 170% at center right, grey 20%, transparent 30%);
}

nav .UNKNOWN.active {
    background-image: radial-gradient(circle at center left, grey 40%, transparent 50%);
}

nav .CHECKING {
    background-image: radial-gradient(ellipse 75% 170% at center right, var(--running-color) 10%, grey 20%, transparent 30%);
}

nav .CHECKING.active {
    background-image: radial-gradient(circle at center left, grey 30%, var(--running-color) 40%, transparent 50%);
}

nav .STOPPED, nav .SILENT {
    background-image: radial-gradient(ellipse 75% 170% at center right, var(--stopped-color) 20%, transparent 30%);
}

nav .STOPPED.active, nav .SILENT.active {
    background-image: radial-gradient(circle at center left, var(--stopped-color), transparent 50%);
}

nav .RUNNING, nav .CHECKED {
    background-image: radial-gradient(ellipse 75% 170% at center right, var(--running-color) 20%, transparent 30%);
}

nav .RUNNING.active, nav .CHECKED.active {
    background-image: radial-gradient(circle at center left, var(--running-color), transparent 50%);
}

nav .FAILED {
    background-image: radial-gradient(ellipse 75% 170% at center right, var(--fatal-color) 20%, transparent 30%);
}

nav .STARTING {
    background-image: radial-gradient(ellipse 75% 170% at center right, var(--running-color) 10%, var(--stopped-color) 20%, transparent 30%);
}

nav .STARTING.active {
    background-image: radial-gradient(circle at center left, var(--stopped-color) 30%, var(--running-color) 40%, transparent 50%);
}

nav .STOPPING {
    background-image: radial-gradient(ellipse 75% 170% at center right, var(--stopped-color) 10%, var(--running-color) 20%, transparent 30%);
}

nav li.STOPPING.active {
    background-image: radial-gradient(circle at center left, var(--running-color) 30%, var(--stopped-color) 40%, transparent 50%);
}

nav li.failure::after {
    content: url(../img/red_light_30.png);
    float: right;
    position: relative;
    top: -29px;
    right: -5px;
}
