/*
 * Supvisors style for Message / Time boxes
 */

#statusBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#messageBox, #timeBox {
    min-height: 33px;
    max-height: 33px;
}

#messageBox {
    font-size: 0.9em;
}

#timeBox p {
    font-size: 0.8em;
}

#messageBox {
    width: 100%;
    margin: 5px;
}

#timeBox {
    min-width: 200px;
    max-width: 200px;
    margin: 5px 5px 5px 0;
    text-align: right;
}

.empty, .info, .warn, .erro {
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
}

.empty {
    background-image: linear-gradient(165deg, var(--navbg-color), silver);
    border: 1px grey inset;
}

.info {
    background-image: linear-gradient(165deg, var(--navbg-color), dodgerblue);
    border: 1px blue inset;
}

#messageBox.info::before {
    content: url(../img/info_20.png) '\00a0';
    float: left;
}

.warn {
    background-image: linear-gradient(165deg, var(--navbg-color), #f90);
    border: 1px orange inset;
}

.warn::before {
    content: url(../img/warn_20.png) '\00a0';
    float: left;
}

.erro {
    background-image: linear-gradient(165deg, var(--navbg-color), orangered);
    border: 1px red inset;
}

.erro::before {
    content: url(../img/erro_20.png) '\00a0';
    float: left;
}
