/* Additional resources */
@font-face {
	font-family: 'kingthings_calligraphica_2Rg';
	src: url('Kingthings_Calligraphica_2-webfont.eot');
	src: url('Kingthings_Calligraphica_2-webfont.eot?#iefix') format('embedded-opentype'),
		url('Kingthings_Calligraphica_2-webfont.woff') format('woff'),
		url('Kingthings_Calligraphica_2-webfont.ttf') format('truetype'),
		url('Kingthings_Calligraphica_2-webfont.svg#kingthings_calligraphica_2Rg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*
 * General Layout
 */
html, body, #body_block {
    height: 100%;
    min-height: 700px;
}

body {
	margin: auto;
}

/* fake a background transparency because smoke image is too dark */
body::after {
	content: "";
    background: url(../img/smoke.jpg);
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.5;
}

#body_block {
	min-width: 1000px;
    display: flex;
}


/*
 * Left Side Layout
*/
#left_side {
	min-width: 220px;
    max-width: 220px;
    display: flex;
	flex-direction: column;
	background: url(../img/texture.jpg);
	color: #e6e6e6;
    border-right: 3px #cc7a00 solid;
}

#left_side header {
   text-align: center;
}

#left_side nav {
	flex: 1;
    display: flex;
	flex-direction: column;
	overflow: auto;
}

#left_side footer {
	font-style: italic;
}

#copyright {
	font-size: .6em;
}


/*
 * Right Side Layout
*/
#right_side {
	flex: 1;
    display: flex;
	flex-direction: column;
}

#right_side header {
    min-height: 50px;
    padding: 0 10px;
	background: url(../img/texture.jpg);
	color: #e6e6e6;
    display: flex;
	justify-content: space-between;
    align-items: center;
}

#doc-contents {
	flex: 1;
    display: flex;
	flex-direction: column;
	overflow: auto;
    padding: 10px;
}


/* Resource design */

header, nav, footer {
	padding: 5px;
}

header a, footer a {
    color: #cc7a00;
	text-decoration: none;
}

section {
	color: #111;
	font-family: Verdana, Arial, sans-serif;
	text-align: justify;
}

h1, h2, h3, h4 {
	font-family: 'kingthings_calligraphica_2Rg', Verdana, sans-serif;
	text-shadow: 2px 2px 6px #202020;
    margin: 20px 0 10px 0;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
	font-style: italic;
}

nav ul {
	font-size: .9em;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
}

mark {
	background-color: transparent;
	text-decoration: underline;
}

/* decrease spacing between a paragraph and the following list */
p + ul, p + ol {
	margin-top: -5px;
}

/* decrease spacing between a cell text and the following list */
td ul, td ol {
	margin-top: 0px;
}


/*
 * Link style
 */
a.intLink {
	background: url(../img/arrows-green_16.png) no-repeat right;
	background-color: forestgreen;
	color: #eee;
	text-decoration: none;
	text-shadow: 2px 2px 2px black;
	font-size: .8em;
	padding-left: 2px;
	padding-right: 18px;
    border: 1px green outset;
    border-radius: 0px 10px 10px 0px;
}

a.extLink {
	background: url(../img/arrows-blue_16.png) no-repeat right;
	background-color: dodgerblue;
	color: #eee;
	text-decoration: none;
	text-shadow: 2px 2px 2px black;
	font-size: .8em;
	padding-left: 2px;
	padding-right: 18px;
    border: 1px blue outset;
    border-radius: 0px 10px 10px 0px;
}


/*
 * Source code style
 */

/* style for source code, including option, className, attributeName */
code {
	color: blue;
}

.option {
	font-style: italic;
}

.className {
	font-weight: bold;
}

.attributeName {
	font-style: italic;
}

/* source code in a pre block is displayed within a box with language set at the top right corner */
pre code {
	display: block;
	width: 75%;
	margin-left: 10%;
	background: rgba(100,100,100,.7);
	padding: 5px;
	border: 1px solid rgba(0,0,0,.2) inset;
}

pre code[class]::before {
	content: attr(class);
	color: rgba(0,0,0,.7);
	font-size: 0.8em;
	float: right;
	margin-top: -16px;
}


/*
 * Note style
 */

/* notes are displayed within a box with an information icon before text */
.note {
	padding: 0 0 1px 0;
	margin: 20px 25px;
	background: rgba(100,100,100,.7);
	border: 1px solid black inset;
}

.note p:first-child::before {
	content: url(../img/info_16.png) '\00a0';
	float: left;
}

.note p:first-child {
	background: #804d00;
	padding: 5px 5px;
	margin-top: 0;
	color: #ccc;
	text-decoration:underline;
}

.note p {
	padding: 0 10px;
}


/*
 * Table style
 */
table {
	border-collapse: collapse;
	caption-side: bottom;
	background: rgba(200,200,200,.7);
	margin: 1 auto
}

/* caption style */
caption {
	margin-top: 3px;
	font-weight: bold;
	font-style: italic;
}

/* add border for all cells */
th, td {
	border: 1px solid black;
}

/* style for a title in a table */
th {
	background-color: #555;
}

/* titles of a model table are centered */
.modelTable th {
	text-align:center;
}

/* title of a state table is centered, second axis has a different color */
.stateTable th {
	text-align:center;
}

.stateTable tr+tr th {
	background-color: #A0A0A0;
}

/* style for added, modified, removed entries in a table */
.added-entry {
	background-color: green;
	font-style: italic;
}

.removed-entry {
	background-color: grey;
	font-style: italic;
	text-decoration: line-through;
}

/*
 * Figure style
 */
figure img {
	display: block;
	margin: auto;
    border: 1px solid black outset;
    border-radius: 6px;
    box-shadow: 4px 4px 6px black;
}

figcaption {
	margin-top: 5px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

